.div {
    display: flex;
    flex-direction: column;
    background-color: white;
    margin: 20% 40%;
    padding: 15px;
    border-radius: 20px;
}

body {
    background-color: rgb(203 213 225);
    width: auto;
    height: screen;
}

img {
    border-radius: 10px;
}

#paragraph1 {
    font-family: "Outfit", system-ui;
  font-size: 20px;
  font-weight: 700;
  font-style: normal;
  text-align: center;
  column-gap: 20px;

}
#paragraph2 {
    text-align: center;
    font-family: "Outfit", system-ui;
    font-size: 15px;
}